version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: visualizacion-filtrado-app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true
    restart: unless-stopped